@model IEnumerable<SchedureDTO.SpeciaDTO>

@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_LayoutVD.cshtml";
}

@*<h2>DANH SÁCH CÁC CHUYÊN KHOA</h2>
    <hr />
    <P>Vui lòng chọn chuyên khoa </P>

    <ul>
        @foreach (var item in Model)
        {
            <li>
                <a href="@Url.Action("Detail",new { id = item.IDSpecia})">
                    <img src="@item.Avatar" alt="@item.Avatar" />
                    <span>@item.Name.ToUpper()</span>
                </a>
            </li>
        }
    </ul>*@

<!-- #breadcrumb -->
<!-- EOF: #breadcrumb -->
<!-- #ourservices -->
<div id="ourservices" class="clearfix">
    <div id="ourservices-inside" class="clearfix">
        <div class="region region-ourservices">
            <div class="views-element-container block block-views block-views-blockourservices-block-1" id="block-views-block-ourservices-block-1">

                <h2>Dịch vụ y tế</h2>

                <div class="content">
                    <div>
                        <div class="view view-ourservices view-id-ourservices view-display-id-block_1 js-view-dom-id-e9d7ad34c88bc61e3365cc68600b62425a21aeaa39f74f2fa1672ebc4f4eaa8c">


                            <div class="view-header">
                                <p>
                                    Tại Bệnh viện Việt Pháp Hà Nội, quý khách sẽ&nbsp;được trải
                                    nghiệm các dịch vụ chăm sóc sức khỏe chất lương cao&nbsp;đạt tiêu chuẩn
                                    quốc tế.
                                </p>

                            </div>

                            <div class="view-content">
                                <div data-service-slider="true" class="services-slider slick-initialized slick-slider slick-dotted" role="toolbar">
                                    <button type="button" data-role="none" class="slick-prev slick-arrow" aria-label="Previous" role="button" style="display: block;">&nbsp;</button>
                                    <div aria-live="polite" class="slick-list draggable">
                                        <div class="slick-track" style="opacity: 1; width: 6100px; transform: translate3d(-1220px, 0px, 0px);" role="listbox">
                                            <div class="item-testimonial slick-slide slick-cloned" data-slick-index="-2" aria-hidden="true" style="width: 580px;" tabindex="-1">
                                                <div class="views-field views-field-field-hfh-services-images"><div class="field-content"></div></div><div class="views-field views-field-field-hfh-surgical-images">
                                                    <div class="field-content">
                                                        <img srcset="/sites/default/files/styles/large/public/page/Neuro%20Surgery.jpg?itok=mScgC4cG 480w, /sites/default/files/styles/ser555x341/public/page/Neuro%20Surgery.jpg?itok=PflnCIBE 555w" sizes="100vw" src="template_files/Neuro%2520Surgery.jpg" alt="phẫu thuật thần kinh" typeof="foaf:Image">


                                                    </div>
                                                </div><div class="views-field views-field-field-hfh-maternity-images"><div class="field-content"></div></div><div class="views-field views-field-field-hfh-sup-services-images"><div class="field-content"></div></div><div class="views-field views-field-title"><span class="field-content"><a href="https://www.hfh.com.vn/vi/node/112" hreflang="vi" tabindex="-1">Phẫu Thuật Thần Kinh</a></span></div><div class="views-field views-field-body"><div class="field-content"><p>Khoa Phẫu thuật Thần kinh chuyên chữa trị các bệnh về hệ thần kinh trung ương (não và tủy sống)…</p></div></div><div class="views-field views-field-nid"><span class="field-content"><a href="https://www.hfh.com.vn/vi/node/112" tabindex="-1">Xem Thêm</a></span></div>
                                            </div><div class="item-testimonial slick-slide slick-cloned" data-slick-index="-1" aria-hidden="true" style="width: 580px;" tabindex="-1">
                                                <div class="views-field views-field-field-hfh-services-images"><div class="field-content"></div></div><div class="views-field views-field-field-hfh-surgical-images"><div class="field-content"></div></div><div class="views-field views-field-field-hfh-maternity-images">
                                                    <div class="field-content">
                                                        <img srcset="/sites/default/files/styles/large/public/page/SKIN-TO-SKIN-%282%29.png?itok=RUx7zdAs 480w, /sites/default/files/styles/ser555x341/public/page/SKIN-TO-SKIN-%282%29.png?itok=mlvj9HpE 555w" sizes="100vw" src="template_files/SKIN-TO-SKIN-2.png" alt="111" typeof="foaf:Image">


                                                    </div>
                                                </div><div class="views-field views-field-field-hfh-sup-services-images"><div class="field-content"></div></div><div class="views-field views-field-title"><span class="field-content"><a href="https://www.hfh.com.vn/vi/133/thai-san.html" hreflang="vi" tabindex="-1">Thai Sản</a></span></div><div class="views-field views-field-body"><div class="field-content"><p>HFH là một trong những bệnh viện uy tín bậc nhất về cung cấp dịch vụ chăm sóc thai sản và sinh…</p></div></div><div class="views-field views-field-nid"><span class="field-content"><a href="https://www.hfh.com.vn/vi/133/thai-san.html" tabindex="-1">Xem Thêm</a></span></div>
                                            </div><div class="item-testimonial slick-slide slick-current slick-active" data-slick-index="0" aria-hidden="false" style="width: 580px;" tabindex="-1" role="option" aria-describedby="slick-slide00">
                                                <div class="views-field views-field-field-hfh-services-images">
                                                    <div class="field-content">
                                                        <img srcset="/sites/default/files/styles/large/public/Services/40.png?itok=xnzIvBCS 480w, /sites/default/files/styles/ser555x341/public/Services/40.png?itok=9OXV3fVQ 555w" sizes="100vw" src="template_files/40.png" alt="1" typeof="foaf:Image">


                                                    </div>
                                                </div><div class="views-field views-field-field-hfh-surgical-images"><div class="field-content"></div></div><div class="views-field views-field-field-hfh-maternity-images"><div class="field-content"></div></div><div class="views-field views-field-field-hfh-sup-services-images"><div class="field-content"></div></div><div class="views-field views-field-title"><span class="field-content"><a href="https://www.hfh.com.vn/vi/92/khoa-gay-me-hoi-suc.html" hreflang="vi" tabindex="0">Khoa Gây Mê Hồi Sức</a></span></div><div class="views-field views-field-body"><div class="field-content"><p>Gây mê là chuyên khoa giúp cho người bệnh mất đi cảm giác đau trước khi tiến hành phẫu thuật,…</p></div></div><div class="views-field views-field-nid"><span class="field-content"><a href="https://www.hfh.com.vn/vi/92/khoa-gay-me-hoi-suc.html" tabindex="0">Xem Thêm</a></span></div>
                                            </div><div class="item-testimonial slick-slide slick-active" data-slick-index="1" aria-hidden="false" style="width: 580px;" tabindex="-1" role="option" aria-describedby="slick-slide01">
                                                <div class="views-field views-field-field-hfh-services-images">
                                                    <div class="field-content">
                                                        <img srcset="/sites/default/files/styles/large/public/Services/TRAN-THAI-HOA-CAR-%282%29.png?itok=9VdY7XY7 480w, /sites/default/files/styles/ser555x341/public/Services/TRAN-THAI-HOA-CAR-%282%29.png?itok=RS88uRx6 555w" sizes="100vw" src="template_files/TRAN-THAI-HOA-CAR-2.png" alt="interventional cardiology" typeof="foaf:Image">


                                                    </div>
                                                </div><div class="views-field views-field-field-hfh-surgical-images"><div class="field-content"></div></div><div class="views-field views-field-field-hfh-maternity-images"><div class="field-content"></div></div><div class="views-field views-field-field-hfh-sup-services-images"><div class="field-content"></div></div><div class="views-field views-field-title"><span class="field-content"><a href="https://www.hfh.com.vn/vi/93/khoa-tim-mach.html" hreflang="vi" tabindex="0">Khoa Tim Mạch</a></span></div><div class="views-field views-field-body"><div class="field-content"><p>Khoa Tim mạch của Bệnh viện Việt Pháp Hà Nội bao gồm đội ngũ bác sỹ tim mạch nội khoa và bác sĩ…</p></div></div><div class="views-field views-field-nid"><span class="field-content"><a href="https://www.hfh.com.vn/vi/93/khoa-tim-mach.html" tabindex="0">Xem Thêm</a></span></div>
                                            </div><div class="item-testimonial slick-slide" data-slick-index="2" aria-hidden="true" style="width: 580px;" tabindex="-1" role="option" aria-describedby="slick-slide02">
                                                <div class="views-field views-field-field-hfh-services-images"><div class="field-content"></div></div><div class="views-field views-field-field-hfh-surgical-images">
                                                    <div class="field-content">
                                                        <img srcset="/sites/default/files/styles/large/public/page/Visceral%20Surgery.jpg?itok=IXB7XXHY 480w, /sites/default/files/styles/ser555x341/public/page/Visceral%20Surgery.jpg?itok=8k27fbWj 555w" sizes="100vw" src="template_files/Visceral%2520Surgery.jpg" alt="1" typeof="foaf:Image">


                                                    </div>
                                                </div><div class="views-field views-field-field-hfh-maternity-images"><div class="field-content"></div></div><div class="views-field views-field-field-hfh-sup-services-images"><div class="field-content"></div></div><div class="views-field views-field-title"><span class="field-content"><a href="https://www.hfh.com.vn/vi/113/phau-thuat-o-bung.html" hreflang="vi" tabindex="-1">Phẫu Thuật Ổ Bụng</a></span></div><div class="views-field views-field-body"><div class="field-content"><p>Bệnh lý đường tiêu hóa rất phổ biến ở Việt Nam và Khoa Phẫu thuật ổ bụng phối hợp với chuyên…</p></div></div><div class="views-field views-field-nid"><span class="field-content"><a href="https://www.hfh.com.vn/vi/113/phau-thuat-o-bung.html" tabindex="-1">Xem Thêm</a></span></div>
                                            </div><div class="item-testimonial slick-slide" data-slick-index="3" aria-hidden="true" style="width: 580px;" tabindex="-1" role="option" aria-describedby="slick-slide03">
                                                <div class="views-field views-field-field-hfh-services-images">
                                                    <div class="field-content">
                                                        <img srcset="/sites/default/files/styles/large/public/Services/BUI-THUY-NGA-PED-%284%29.png?itok=c8qIByJ7 480w, /sites/default/files/styles/ser555x341/public/Services/BUI-THUY-NGA-PED-%284%29.png?itok=VJgEDo_i 555w" sizes="100vw" src="template_files/BUI-THUY-NGA-PED-4.png" alt="1" typeof="foaf:Image">


                                                    </div>
                                                </div><div class="views-field views-field-field-hfh-surgical-images"><div class="field-content"></div></div><div class="views-field views-field-field-hfh-maternity-images"><div class="field-content"></div></div><div class="views-field views-field-field-hfh-sup-services-images"><div class="field-content"></div></div><div class="views-field views-field-title"><span class="field-content"><a href="https://www.hfh.com.vn/vi/182/khoa-nhi-nhi-so-sinh.html" hreflang="vi" tabindex="-1">Khoa Nhi &amp; Nhi sơ sinh</a></span></div><div class="views-field views-field-body"><div class="field-content"><p>Chăm sóc sức khỏe toàn diện cho trẻ em từ khi sinh đến 15 tuổi</p></div></div><div class="views-field views-field-nid"><span class="field-content"><a href="https://www.hfh.com.vn/vi/182/khoa-nhi-nhi-so-sinh.html" tabindex="-1">Xem Thêm</a></span></div>
                                            </div><div class="item-testimonial slick-slide" data-slick-index="4" aria-hidden="true" style="width: 580px;" tabindex="-1" role="option" aria-describedby="slick-slide04">
                                                <div class="views-field views-field-field-hfh-services-images"><div class="field-content"></div></div><div class="views-field views-field-field-hfh-surgical-images">
                                                    <div class="field-content">
                                                        <img srcset="/sites/default/files/styles/large/public/page/Neuro%20Surgery.jpg?itok=mScgC4cG 480w, /sites/default/files/styles/ser555x341/public/page/Neuro%20Surgery.jpg?itok=PflnCIBE 555w" sizes="100vw" src="template_files/Neuro%2520Surgery.jpg" alt="phẫu thuật thần kinh" typeof="foaf:Image">


                                                    </div>
                                                </div><div class="views-field views-field-field-hfh-maternity-images"><div class="field-content"></div></div><div class="views-field views-field-field-hfh-sup-services-images"><div class="field-content"></div></div><div class="views-field views-field-title"><span class="field-content"><a href="https://www.hfh.com.vn/vi/node/112" hreflang="vi" tabindex="-1">Phẫu Thuật Thần Kinh</a></span></div><div class="views-field views-field-body"><div class="field-content"><p>Khoa Phẫu thuật Thần kinh chuyên chữa trị các bệnh về hệ thần kinh trung ương (não và tủy sống)…</p></div></div><div class="views-field views-field-nid"><span class="field-content"><a href="https://www.hfh.com.vn/vi/node/112" tabindex="-1">Xem Thêm</a></span></div>
                                            </div><div class="item-testimonial slick-slide" data-slick-index="5" aria-hidden="true" style="width: 580px;" tabindex="-1" role="option" aria-describedby="slick-slide05">
                                                <div class="views-field views-field-field-hfh-services-images"><div class="field-content"></div></div><div class="views-field views-field-field-hfh-surgical-images"><div class="field-content"></div></div><div class="views-field views-field-field-hfh-maternity-images">
                                                    <div class="field-content">
                                                        <img srcset="/sites/default/files/styles/large/public/page/SKIN-TO-SKIN-%282%29.png?itok=RUx7zdAs 480w, /sites/default/files/styles/ser555x341/public/page/SKIN-TO-SKIN-%282%29.png?itok=mlvj9HpE 555w" sizes="100vw" src="template_files/SKIN-TO-SKIN-2.png" alt="111" typeof="foaf:Image">


                                                    </div>
                                                </div><div class="views-field views-field-field-hfh-sup-services-images"><div class="field-content"></div></div><div class="views-field views-field-title"><span class="field-content"><a href="https://www.hfh.com.vn/vi/133/thai-san.html" hreflang="vi" tabindex="-1">Thai Sản</a></span></div><div class="views-field views-field-body"><div class="field-content"><p>HFH là một trong những bệnh viện uy tín bậc nhất về cung cấp dịch vụ chăm sóc thai sản và sinh…</p></div></div><div class="views-field views-field-nid"><span class="field-content"><a href="https://www.hfh.com.vn/vi/133/thai-san.html" tabindex="-1">Xem Thêm</a></span></div>
                                            </div><div class="item-testimonial slick-slide slick-cloned" data-slick-index="6" aria-hidden="true" style="width: 580px;" tabindex="-1">
                                                <div class="views-field views-field-field-hfh-services-images">
                                                    <div class="field-content">
                                                        <img srcset="/sites/default/files/styles/large/public/Services/40.png?itok=xnzIvBCS 480w, /sites/default/files/styles/ser555x341/public/Services/40.png?itok=9OXV3fVQ 555w" sizes="100vw" src="template_files/40.png" alt="1" typeof="foaf:Image">


                                                    </div>
                                                </div><div class="views-field views-field-field-hfh-surgical-images"><div class="field-content"></div></div><div class="views-field views-field-field-hfh-maternity-images"><div class="field-content"></div></div><div class="views-field views-field-field-hfh-sup-services-images"><div class="field-content"></div></div><div class="views-field views-field-title"><span class="field-content"><a href="https://www.hfh.com.vn/vi/92/khoa-gay-me-hoi-suc.html" hreflang="vi" tabindex="-1">Khoa Gây Mê Hồi Sức</a></span></div><div class="views-field views-field-body"><div class="field-content"><p>Gây mê là chuyên khoa giúp cho người bệnh mất đi cảm giác đau trước khi tiến hành phẫu thuật,…</p></div></div><div class="views-field views-field-nid"><span class="field-content"><a href="https://www.hfh.com.vn/vi/92/khoa-gay-me-hoi-suc.html" tabindex="-1">Xem Thêm</a></span></div>
                                            </div><div class="item-testimonial slick-slide slick-cloned" data-slick-index="7" aria-hidden="true" style="width: 580px;" tabindex="-1">
                                                <div class="views-field views-field-field-hfh-services-images">
                                                    <div class="field-content">
                                                        <img srcset="/sites/default/files/styles/large/public/Services/TRAN-THAI-HOA-CAR-%282%29.png?itok=9VdY7XY7 480w, /sites/default/files/styles/ser555x341/public/Services/TRAN-THAI-HOA-CAR-%282%29.png?itok=RS88uRx6 555w" sizes="100vw" src="template_files/TRAN-THAI-HOA-CAR-2.png" alt="interventional cardiology" typeof="foaf:Image">


                                                    </div>
                                                </div><div class="views-field views-field-field-hfh-surgical-images"><div class="field-content"></div></div><div class="views-field views-field-field-hfh-maternity-images"><div class="field-content"></div></div><div class="views-field views-field-field-hfh-sup-services-images"><div class="field-content"></div></div><div class="views-field views-field-title"><span class="field-content"><a href="https://www.hfh.com.vn/vi/93/khoa-tim-mach.html" hreflang="vi" tabindex="-1">Khoa Tim Mạch</a></span></div><div class="views-field views-field-body"><div class="field-content"><p>Khoa Tim mạch của Bệnh viện Việt Pháp Hà Nội bao gồm đội ngũ bác sỹ tim mạch nội khoa và bác sĩ…</p></div></div><div class="views-field views-field-nid"><span class="field-content"><a href="https://www.hfh.com.vn/vi/93/khoa-tim-mach.html" tabindex="-1">Xem Thêm</a></span></div>
                                            </div>
                                        </div>
                                    </div>





                                    <button type="button" data-role="none" class="slick-next slick-arrow" aria-label="Next" role="button" style="display: block;">&nbsp;</button><ul class="slick-dots" style="display: block;" role="tablist"><li class="slick-active" aria-hidden="false" role="presentation" aria-selected="true" aria-controls="navigation00" id="slick-slide00"><button type="button" data-role="none" role="button" tabindex="0">1</button></li><li aria-hidden="true" role="presentation" aria-selected="false" aria-controls="navigation01" id="slick-slide01"><button type="button" data-role="none" role="button" tabindex="0">2</button></li><li aria-hidden="true" role="presentation" aria-selected="false" aria-controls="navigation02" id="slick-slide02"><button type="button" data-role="none" role="button" tabindex="0">3</button></li><li aria-hidden="true" role="presentation" aria-selected="false" aria-controls="navigation03" id="slick-slide03"><button type="button" data-role="none" role="button" tabindex="0">4</button></li><li aria-hidden="true" role="presentation" aria-selected="false" aria-controls="navigation04" id="slick-slide04"><button type="button" data-role="none" role="button" tabindex="0">5</button></li><li aria-hidden="true" role="presentation" aria-selected="false" aria-controls="navigation05" id="slick-slide05"><button type="button" data-role="none" role="button" tabindex="0">6</button></li></ul>
                                </div>





                            </div>

                            <div class="view-footer">
                                <p><a class="btn" href="https://www.hfh.com.vn/vi/node/91" title="Xem tất cả">Xem tất cả</a></p>

                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>

    </div>
</div>
<!-- EOF: #ourservices -->
<!-- EOF:#content-wrapper -->
<div id="content-wrapper">

    <div class="region region-content">
        <div id="block-hfh-content" class="block block-system block-system-main-block">


            <div class="content">


                <article data-history-node-id="30" role="article" about="/vi/trang-chu" typeof="schema:WebPage" class="node node-detail node--type-page node--view-mode-full clearfix">
                    <h1>
                        <span property="schema:name" class="field field--name-title field--type-string field--label-hidden">Bệnh viện Quốc tế hàng đầu tại Hà Nội</span>
                    </h1>
                    <div class="page-content">
                        <div class="col-md-12">

                            <div property="schema:text" class="clearfix text-formatted field field--name-body field--type-text-with-summary field--label-hidden field__item">
                                <div class="headquarters-info">
                                    <div class="heading-section">
                                        <p>Bệnh viện Việt Pháp Hà Nội là bệnh viện quốc tế đầu tiên tại Hà Nội và miền Bắc Việt Nam</p>
                                    </div>

                                    <div class="services-section">
                                        <div class="item-service col-md-4 col-xs-12">
                                            <div class="thumb-info">
                                                <a href="#" title=""><img alt="item.service" src="template_files/icon-2.png"></a>

                                                <h2><a href="#" title="">50%</a></h2>
                                                <a href="#" title=""> </a>

                                                <p><a href="#" title="">Bác sĩ nước ngoài</a></p>
                                            </div>

                                            <div class="content">
                                                <p>Đội ngũ bác sĩ gồm nhiều chuyên gia người Pháp có trình độ chuyên môn cao thuộc nhiều chuyên khoa khác nhau.</p>
                                            </div>
                                        </div>

                                        <div class="item-service col-md-4 col-xs-12">
                                            <div class="thumb-info">
                                                <a href="#" title=""><img alt="item.service" src="template_files/icon-3.png"></a>

                                                <h2><a href="#" title="">110.000+</a></h2>
                                                <a href="#" title=""> </a>

                                                <p><a href="#" title="">Khám ngoại trú mỗi năm</a></p>
                                            </div>

                                            <div class="content">
                                                <p>Bệnh viện Việt Pháp Hà Nội là địa chỉ tin cậy cho cộng đồng người Việt và nước ngoài sinh sống và làm việc tại Việt Nam.</p>
                                            </div>
                                        </div>

                                        <div class="item-service col-md-4 col-xs-12">
                                            <div class="thumb-info">
                                                <a href="#" title=""><img alt="item.service" src="template_files/icon-1.png"></a>

                                                <h2><a href="#" title="">25.000+</a></h2>
                                                <a href="#" title=""> </a>

                                                <p><a href="#" title="">Ca sinh nở </a></p>
                                            </div>

                                            <div class="content">
                                                <p>Hàng năm Bệnh viện Việt Pháp Hà Nội đón rất nhiều trẻ sơ sinh chào đời an toàn và khỏe mạnh.</p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="footer-section row">
                                        <div class="col-md-6 col-sm-6 col-xs-12 text-right"><a class="btn btn-video" data-video="YyZth6RnmZw" href="#" role="button">Xem video của chúng tôi</a></div>

                                        <div class="col-md-6 col-sm-6 col-xs-12"><a class="btn" href="https://www.hfh.com.vn/vi/working-at-hfh" role="button">Làm việc tại HFH</a></div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </article>

            </div>
        </div>
        <div id="block-mapbvvietphaphomepage" class="find-us-outer block block-block-content block-block-contentd09b0baf-9668-4eb0-9011-b959cc54f5f6">


            <div class="content">

                <div class="clearfix text-formatted field field--name-body field--type-text-with-summary field--label-hidden field__item">
                    <div class="find-us-outer background-reponsive" data-background="/themes/hfh/images/mask.png" style="background-image: url(&quot;/themes/hfh/images/mask.png&quot;);">
                        <div class="find-us">
                            <div class="find-us-wrapper">
                                <div class="find-us-content">
                                    <h2>Tìm đường đi</h2>

                                    <p>
                                        Số 01, đường Phương Mai, quận Đống Đa,<br>
                                        Hà Nội, Việt Nam
                                    </p>
                                    <a class="btn" href="https://goo.gl/maps/qcJJ4u2ABLF2" role="button" target="_blank">Xem chỉ dẫn</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="mapmobile">
                        <div class="find-us-content find-us-on-mobile">
                            <h2>Tìm đường đi</h2>

                            <p>
                                01 đường Phương Mai, quận Đống Đa,<br>
                                Hà Nội, Việt Nam
                            </p>
                            <a class="btn" href="https://goo.gl/maps/qcJJ4u2ABLF2" role="button">Xem chỉ dẫn</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="views-element-container block block-views block-views-blocktestimonial-block-1" id="block-views-block-testimonial-block-1">


            <div class="content">
                <div>
                    <div class="view view-testimonial view-id-testimonial view-display-id-block_1 js-view-dom-id-30b30afbe3cb9a2e0f6a08f4e403d75a741dbdd7299667bb091009ec3953655b">



                        <div class="view-content">
                            <div data-testimonials-slider="true" class="testimonials-slider slick-initialized slick-slider slick-dotted" role="toolbar">
                                <div aria-live="polite" class="slick-list draggable">
                                    <div class="slick-track" style="opacity: 1; width: 8640px; transform: translate3d(-4320px, 0px, 0px);" role="listbox">
                                        <div class="inner  item-testimonial slick-slide slick-cloned" data-slick-index="-1" aria-hidden="true" style="width: 1440px;" tabindex="-1">
                                            <div class="views-field views-field-field-hfh-testimonial-client-ava">
                                                <div class="field-content">
                                                    <div class="col-md-4 col-xs-12 pull-right">
                                                        <div class="thumb-info background-reponsive" style="background-image: url(&quot;/sites/default/files/testimalnial/male-resize_0.jpg&quot;);">
                                                            <a href="https://www.hfh.com.vn/en/361/impressed-quality-care-and-treatment-provided-your-hospital.html" tabindex="-1">
                                                                <img src="template_files/transparent.html" alt="123" typeof="Image" width="737" height="500">
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div><div class="views-field views-field-nothing">
                                                <span class="field-content">
                                                    <div class="col-md-8 col-xs-12">
                                                        <div class="content">
                                                            <h2>"rất ấn tượng bởi&nbsp;chất lượng khám và điều trị bệnh của Bệnh viện các bạn" </h2>
                                                            <p class="author"><span>Piere Breuf </span> - 07-08-2017</p>
                                                            <p>
                                                                Tôi chân thành cảm ơn các bạn vì đã chăm sóc tôi trong thời gian tôi
                                                                nằm viện. Tôi đã trở lại Manosque - Pháp mà không gặp phải vấn đề gì và
                                                                sức khỏe tôi dần hồi phục khi ở trên đất nước các bạn và ở
                                                                Campuchia.&nbsp;
                                                            </p>
                                                            <a href="https://www.hfh.com.vn/testimonials" title="" class="btn" tabindex="-1">Xem thêm các đánh giá</a>
                                                        </div>
                                                    </div>
                                                </span>
                                            </div>
                                        </div><div class="inner  item-testimonial slick-slide" data-slick-index="0" aria-hidden="true" style="width: 1440px;" tabindex="-1" role="option" aria-describedby="slick-slide20">
                                            <div class="views-field views-field-field-hfh-testimonial-client-ava">
                                                <div class="field-content">
                                                    <div class="col-md-4 col-xs-12 pull-right">
                                                        <div class="thumb-info background-reponsive" style="background-image: url(&quot;/sites/default/files/testimalnial/male-resize_4.jpg&quot;);">
                                                            <a href="https://www.hfh.com.vn/vi/490/cac-ban-da-mang-lai-cho-con-chung-toi-dich-vu-cham-soc-tuyet-voi.html" tabindex="-1">
                                                                <img src="template_files/transparent.html" alt="1" typeof="Image" width="737" height="500">
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div><div class="views-field views-field-nothing">
                                                <span class="field-content">
                                                    <div class="col-md-8 col-xs-12">
                                                        <div class="content">
                                                            <h2>"Các bạn đã mang lại cho con chúng tôi dịch vụ chăm sóc thật TUYỆT VỜI" </h2>
                                                            <p class="author"><span>Benjamin &amp; Aimel</span> - 03-01-2018</p>
                                                            <p></p><p>
                                                                Chúng tôi đánh giá rất cao bệnh viện các bạn. Các bạn đã mang
                                                                lại cho con chúng tôi dịch vụ chăm sóc thật TUYỆT VỜI. Đây quả là quãng
                                                                thời gian căng thẳng với gia đình chúng tôi nhưng các bạn thật tử tế và
                                                                chuyên nghiệp.
                                                            </p><p></p>
                                                            <a href="https://www.hfh.com.vn/testimonials" title="" class="btn" tabindex="-1">Xem thêm các đánh giá</a>
                                                        </div>
                                                    </div>
                                                </span>
                                            </div>
                                        </div><div class="inner  item-testimonial slick-slide" data-slick-index="1" aria-hidden="true" style="width: 1440px;" tabindex="-1" role="option" aria-describedby="slick-slide21">
                                            <div class="views-field views-field-field-hfh-testimonial-client-ava">
                                                <div class="field-content">
                                                    <div class="col-md-4 col-xs-12 pull-right">
                                                        <div class="thumb-info background-reponsive" style="background-image: url(&quot;/sites/default/files/testimalnial/male-resize_3.jpg&quot;);">
                                                            <a href="https://www.hfh.com.vn/vi/481/bs-natali-xoa-bo-rao-can-giua-bac-si-va-nguoi-benh.html" tabindex="-1">
                                                                <img src="template_files/transparent.html" alt="1" typeof="Image" width="737" height="500">
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div><div class="views-field views-field-nothing">
                                                <span class="field-content">
                                                    <div class="col-md-8 col-xs-12">
                                                        <div class="content">
                                                            <h2>"BS. Natali xóa bỏ rào cản giữa bác sĩ và người bệnh" </h2>
                                                            <p class="author"><span>Nguyễn Augustin Tuấn</span> - 07-12-2017</p>
                                                            <p></p><p>
                                                                Tôi thật may mắn khi được bác sĩ Natali Delphine chăm sóc. Tôi
                                                                nằm viện vì viêm phổi hai bên. Lần đầu tiên khi tôi gặp BS. Natali, bác
                                                                sĩ rất ân cần và cho tôi cảm giác mọi chuyện sẽ tốt đẹp. Trong suốt quá
                                                                trình điều trị, BS.
                                                            </p><p></p>
                                                            <a href="https://www.hfh.com.vn/testimonials" title="" class="btn" tabindex="-1">Xem thêm các đánh giá</a>
                                                        </div>
                                                    </div>
                                                </span>
                                            </div>
                                        </div><div class="inner  item-testimonial slick-slide slick-current slick-active" data-slick-index="2" aria-hidden="false" style="width: 1440px;" tabindex="-1" role="option" aria-describedby="slick-slide22">
                                            <div class="views-field views-field-field-hfh-testimonial-client-ava">
                                                <div class="field-content">
                                                    <div class="col-md-4 col-xs-12 pull-right">
                                                        <div class="thumb-info background-reponsive" style="background-image: url(&quot;/sites/default/files/testimalnial/male-resize_2.jpg&quot;);">
                                                            <a href="https://www.hfh.com.vn/vi/461/benh-vien-cac-ban-la-thien-duong-tren-trai-dat.html" tabindex="0">
                                                                <img src="template_files/transparent.html" alt="1" typeof="Image" width="737" height="500">
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div><div class="views-field views-field-nothing">
                                                <span class="field-content">
                                                    <div class="col-md-8 col-xs-12">
                                                        <div class="content">
                                                            <h2>"Bệnh viện các bạn là thiên đường trên trái đất" </h2>
                                                            <p class="author"><span>Eric Bos &amp; Francis Van Der Burgt</span> - 02-11-2017</p>
                                                            <p></p><p>Bệnh viện các bạn là thiên đường trên trái đất. Trước khi đến đây, chúng tôi đã đến ba bệnh viện khác và gần như mất hy vọng.</p><p></p>
                                                            <a href="https://www.hfh.com.vn/testimonials" title="" class="btn" tabindex="0">Xem thêm các đánh giá</a>
                                                        </div>
                                                    </div>
                                                </span>
                                            </div>
                                        </div><div class="inner  item-testimonial slick-slide" data-slick-index="3" aria-hidden="true" style="width: 1440px;" tabindex="-1" role="option" aria-describedby="slick-slide23">
                                            <div class="views-field views-field-field-hfh-testimonial-client-ava">
                                                <div class="field-content">
                                                    <div class="col-md-4 col-xs-12 pull-right">
                                                        <div class="thumb-info background-reponsive" style="background-image: url(&quot;/sites/default/files/testimalnial/male-resize_0.jpg&quot;);">
                                                            <a href="https://www.hfh.com.vn/en/361/impressed-quality-care-and-treatment-provided-your-hospital.html" tabindex="-1">
                                                                <img src="template_files/transparent.html" alt="123" typeof="Image" width="737" height="500">
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div><div class="views-field views-field-nothing">
                                                <span class="field-content">
                                                    <div class="col-md-8 col-xs-12">
                                                        <div class="content">
                                                            <h2>"rất ấn tượng bởi&nbsp;chất lượng khám và điều trị bệnh của Bệnh viện các bạn" </h2>
                                                            <p class="author"><span>Piere Breuf </span> - 07-08-2017</p>
                                                            <p>
                                                                Tôi chân thành cảm ơn các bạn vì đã chăm sóc tôi trong thời gian tôi
                                                                nằm viện. Tôi đã trở lại Manosque - Pháp mà không gặp phải vấn đề gì và
                                                                sức khỏe tôi dần hồi phục khi ở trên đất nước các bạn và ở
                                                                Campuchia.&nbsp;
                                                            </p>
                                                            <a href="https://www.hfh.com.vn/testimonials" title="" class="btn" tabindex="-1">Xem thêm các đánh giá</a>
                                                        </div>
                                                    </div>
                                                </span>
                                            </div>
                                        </div><div class="inner  item-testimonial slick-slide slick-cloned" data-slick-index="4" aria-hidden="true" style="width: 1440px;" tabindex="-1">
                                            <div class="views-field views-field-field-hfh-testimonial-client-ava">
                                                <div class="field-content">
                                                    <div class="col-md-4 col-xs-12 pull-right">
                                                        <div class="thumb-info background-reponsive" style="background-image: url(&quot;/sites/default/files/testimalnial/male-resize_4.jpg&quot;);">
                                                            <a href="https://www.hfh.com.vn/vi/490/cac-ban-da-mang-lai-cho-con-chung-toi-dich-vu-cham-soc-tuyet-voi.html" tabindex="-1">
                                                                <img src="template_files/transparent.html" alt="1" typeof="Image" width="737" height="500">
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div><div class="views-field views-field-nothing">
                                                <span class="field-content">
                                                    <div class="col-md-8 col-xs-12">
                                                        <div class="content">
                                                            <h2>"Các bạn đã mang lại cho con chúng tôi dịch vụ chăm sóc thật TUYỆT VỜI" </h2>
                                                            <p class="author"><span>Benjamin &amp; Aimel</span> - 03-01-2018</p>
                                                            <p></p><p>
                                                                Chúng tôi đánh giá rất cao bệnh viện các bạn. Các bạn đã mang
                                                                lại cho con chúng tôi dịch vụ chăm sóc thật TUYỆT VỜI. Đây quả là quãng
                                                                thời gian căng thẳng với gia đình chúng tôi nhưng các bạn thật tử tế và
                                                                chuyên nghiệp.
                                                            </p><p></p>
                                                            <a href="https://www.hfh.com.vn/testimonials" title="" class="btn" tabindex="-1">Xem thêm các đánh giá</a>
                                                        </div>
                                                    </div>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>



                                <ul class="slick-dots" style="display: block;" role="tablist"><li class="" aria-hidden="true" role="presentation" aria-selected="true" aria-controls="navigation20" id="slick-slide20"><button type="button" data-role="none" role="button" tabindex="0">1</button></li><li aria-hidden="true" role="presentation" aria-selected="false" aria-controls="navigation21" id="slick-slide21" class=""><button type="button" data-role="none" role="button" tabindex="0">2</button></li><li aria-hidden="false" role="presentation" aria-selected="false" aria-controls="navigation22" id="slick-slide22" class="slick-active"><button type="button" data-role="none" role="button" tabindex="0">3</button></li><li aria-hidden="true" role="presentation" aria-selected="false" aria-controls="navigation23" id="slick-slide23" class=""><button type="button" data-role="none" role="button" tabindex="0">4</button></li></ul>
                            </div>



                        </div>

                    </div>
                </div>

            </div>
        </div>

    </div>


</div>
<!-- EOF:#content-wrapper -->