#block-languagedropdownswitcher{
    width: 50px;
}
#block-hanoisleadinginternationalhospital  .rewads {
    clear: both;
    padding: 30px 0;
    border-bottom: solid 1px #dedacf;
}
#block-hanoisleadinginternationalhospital  .rewads .wrapper {
    max-width: 380px;
    width: 90%;
    margin: 0 auto;
    padding-left: 88px;
    padding-top: 1px;
}
#block-hanoisleadinginternationalhospital .rewads .wrapper img {
    float: left;
    margin-left: -88px;
}
#block-hanoisleadinginternationalhospital .rewads .wrapper p {
    margin-top: 3px;
    font-size: 14px;
}
.footer-sitemap .copyright {
    padding: 33px 0;
}
.footer-sitemap h2 {
    font-size: 16px;
    font-weight: bold;
    margin-top: 35px;
}
.footer-sitemap h2, .footer-sitemap a {
    color: #4a4a4a;
}
.footer-sitemap ul {
    padding-left: 0 !important;
    margin-left: 0 !important;
    list-style-type: none;
}
 #bottom-five {
	background-color: #0061a9;

}
.path-frontpage #bottom-third .container,
.path-frontpage #bottom-first  .container{
	background-color: #e9e9e9;
}

#block-seemorearticaleshome,
#block-whatsnewhomepage{
	text-align: center;
}
.path-frontpage #block-whatsnewhomepage{
	padding-top: 50px;
}
@media (max-width: 768px) {
	.path-frontpage #block-whatsnewhomepage{
		padding-top: 30px;
	}
}
.path-frontpage #block-seemorearticaleshome{
	padding-bottom: 50px;
}
@media (max-width: 768px) {
	.path-frontpage #block-seemorearticaleshome{
		padding-bottom: 40px;
	}
}

#block-views-block-blocknews-blocknews  .view-content .views-field-nothing,
#block-views-block-blocknews-media .view-content .views-field-nothing,
#block-views-block-blocknews-event .view-content .views-field-nothing{
	font-weight: bold;
    color: #d0021b;
	font-size: 14px;
	padding-top: 25px;
}

#block-views-block-blocknews-blocknews  .view-content .views-field-nid a,
#block-views-block-blocknews-media .view-content .views-field-nid a,
#block-views-block-blocknews-event .view-content .views-field-nid a{
	font-size: 14px;
    font-weight: bold;
    color: #0061a9;
}

#block-views-block-blocknews-blocknews  .view-content h2,
#block-views-block-blocknews-media .view-content h2,
#block-views-block-blocknews-event .view-content  h2{
	font-weight: bold;
    color: #0061a9;
	font-size: 24px;
}
#block-views-block-ourservices-block-1 .content  .view-header {
	text-align: center;
}
#block-views-block-testimonial-block-1 .views-field-nothing a {
    margin-top: 30px;
}
.path-frontpage .featured-post-wrapper h1 {
    font-weight: bold;
    color: #0061a9;
	font-size: 30px;
	text-align: center;
	padding-top: 50px;
}
.path-frontpage  .headquarters-info {
	padding-top: 10px;

}
.path-frontpage h1{
	color: #0061a9;
	text-align: center;
}
h1.post-title{
	color: #0061a9;
}
.banner-image .banner-content h1 {
    text-align: center;
    vertical-align: middle;
    line-height: 400px;
    font-size: 48px;
    color: #fff;
    margin: 0;
}

.item .view-blocknews .content {
    padding: 25px;
    background-color: #fff;
}
.field--name-field-hfh-product-regiter a{
    border-radius: 4px;
    border: solid 2px #0063aa;
    color: #0063aa;
    padding: 12px 27px;
    font-size: 16px;
    font-weight: bold;
    min-width: 230px;
}
.field--name-field-hfh-product-regiter a:hover{
	color: #fff;
    background-color: #0063aa;
}
.working-detail-header h1 span{
    font-size: 30px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 25px;
	color: #094c98;
}
.view-glossary .view-header h1 {
	 font-size: 30px;
    font-weight: bold;
	color: #094c98;
}
.field--name-field-human-resources-department {
	    font-weight: bold;
    font-style: normal;
    color: #094c98;
}
.view-blocknews a.read-more {
    font-size: 14px;
    font-weight: bold;
    color: #0061a9;
}
.page-node-91 .view-ourservices .item-testimonial {
    margin: 0 15px;
    background-color: #fff;
    padding-bottom: 25px;
}
.page-node-91 .services-slider {
    margin: 0;
}
.page-node-91 #main #ourservices-inside .item-testimonial .views-field-field-hfh-article-link-1 {
	padding: 45px 25px 10px 25px;
}
.page-node-91 #main #ourservices-inside .item-testimonial .views-field-field-hfh-article-link{
    padding: 0 25px;
}
.page-node-91 #main #ourservices-inside .item-testimonial .views-field-field-hfh-article-link a {
    font-size: 14px;
    font-weight: bold;
    color: #0061a9;
}
.page-node-91 #main #ourservices-inside .item-testimonial .views-field-field-hfh-article-link-1 a {
    font-weight: bold;
    color: #0061a9;
    font-size: 24px;
    margin-bottom: 10px;
}
.view-finddoctor .view-empty {
	text-align: center;
	padding: 10px 0 10px 0;
}

.path-cart table tr th,
.path-cart table tr th a,
.path-cart table tr th a:hover,
.path-cart table tr th a:focus {
    color: #fff;
    font-weight: bold;
}
.path-cart table tr th {
    background: #757575;
    background: rgba(0, 0, 0, 0.51);
    border-bottom-style: none;
}
.path-cart thead > tr {
    border-bottom: 1px solid #000;
}
.path-cart tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}
.path-cart tr td, .path-cart tr th {
    padding: 4px 9px;
    border: 1px solid #fff;
    text-align: left;
}
.path-cart tr {
    border-bottom: 1px solid #ccc;
    padding: 0.1em 0.6em;
    background: #fff;

}
.cart-block--summary {
	display: none;
}
.path-cart .order-total-line {
    padding: 0 10px;
}
.path-checkout fieldset,
.path-checkout .filter-wrapper {
    border-radius: 4px;
}

.path-checkout fieldset {
    margin: 1em 0;
    min-width: 0;
}
.path-checkout .commerce_order_total{
    text-align: right;
}
.order-total-line__subtotal{
  display: none;  
}
.path-checkout .order-total-line-label {
    display: inline-block;
    width: auto;
    margin-right: 10px;
}
.path-checkout .order-total-line-value {
    display: inline-block;
    width: auto;
    text-align: right;
}
.path-checkout .order-total-line__total {
    padding-top: 5px;
    font-weight: bold;
}


.node-detail .field--name-body table p{
	 margin: 0;
 }

.path-checkout fieldset, .path-checkout .filter-wrapper {
    border-radius: 4px;
}
.path-checkout .view-commerce-checkout-order-summary table {
    border: 0;
    border-spacing: 0;
    margin: 10px 0;
    width: 100%;
}
.path-checkout .view-commerce-checkout-order-summary tr {
    border-bottom: 1px solid #ccc;
    padding: 0.1em 0.6em;
    background: #efefef;
    background: rgba(0, 0, 0, 0.063);
}
.path-checkout .view-commerce-checkout-order-summary tr td, .path-checkout  .view-commerce-checkout-order-summary tr th {
    padding: 4px 9px;
    border: 1px solid #fff;
    text-align: left;
}
.path-checkout .view-commerce-checkout-order-summary tr td.views-field-total-price__number{
	text-align: right;
}
.path-checkout legend {
    border: 0;
    padding: 0;
	display: block;   
    margin-bottom: 20px;
    line-height: inherit;
}

.path-checkout #field-thong-tin-nguoihql table{
    border: none;
}
.path-checkout input[id^="edit-payment-information-payment-method"]
{
    border-radius: 4px;
    padding: 14px 20px;
    border: solid 1px #e0e0e0;
    margin-bottom: 14px;
    font-size: 14px;
    width: 5%  !important;
}
.path-checkout #edit-payment-information-payment-method label.option {
    font-size: 18px;
    font-weight: bold;
    color: #0061a9;
    margin-top: 5px;
}
.path-checkout fieldset[id^="edit-payment-information-payment-method"]  legend{
  border:none !important;
  width: auto !important;
}
.path-checkout fieldset[id^="edit-payment-information"]:not([id^="edit-payment-information-payment-method"])  {
    border:none;
    margin: 0px;
    padding: 0px;
}
fieldset[id^="edit-payment-information-payment-method"] {
	  margin: 20px 0px;
}
fieldset[id^="edit-payment-information-payment-method"]  span.fieldset-legend{
	font-size: 22px;
}
 

.nav-bar2 .section-content .field--name-field-doctor-make-appointment,
.nav-bar2 .section-content .field--name-field-doctor-make-appointment {
    margin: 30px 0 20px 0;
	display: inline-block;
}
.nav-bar .section-content .field--name-field-doctor-make-appointment a,
.nav-bar2 .section-content .field--name-field-doctor-make-appointment a {
  border-radius: 4px;
  border: solid 2px #0063aa;
  color: #0063aa;
  padding: 12px 27px;
  font-size: 16px;
  font-weight: bold;
  min-width: 230px;
  background-color: #fff;
  transition: all linear 0.3s;
  -webkit-transition: all linear 0.3s;
  -moz-transition: all linear 0.3s;
  -o-transition: all linear 0.3s;
  -ms-transition: all linear 0.3s;
}
.nav-bar2 .field--name-field-doctor-make-appointment .field__label,
.nav-bar2 .field--name-field-hfh-profile-avatar .field__label{
	display: none;

}
.nav-bar .section-content .field--name-field-doctor-make-appointment a:focus,
.nav-bar .section-content .field--name-field-doctor-make-appointment a:hover,
.nav-bar2 .section-content .field--name-field-doctor-make-appointment a:focus,
.nav-bar2 .section-content .field--name-field-doctor-make-appointment a:hover {
  color: #fff;
  background-color: #0063aa;
}
 .webform-submission-form #edit-doctor-name .container-inline #edit-doctor-name2 {
    width: 100%;
}
.webform-submission-form  #edit-doctor-name .form-type-textfield,
.webform-submission-form #edit-doctor-name .container-inline {
     width: 100% !important;
}
.view-specialitiesdoctor .item-specialitiesdoctor  .views-field-nothing{
	border-bottom: 1px solid #ccc;
	margin: 0px 0 20px 0;
	padding: 0px 0 20px 0;
	display: inline-block;
	width: 100%;
}
.page-node-315 .text-align-center,
.page-node-315 .align-center,
.page-node-314 .text-align-center,
.page-node-314 .align-center {	
    text-align: center;
    margin: 0 auto;
    padding: 0; 
	display	: block;
}

#block-continueshopping  {
    padding-top: 0px;
    padding-bottom: 30px;
    padding-right: 10px;
	float: right;
}
#block-continueshopping .btn{
    padding: 12px 27px;
}

#commerce-checkout-flow-multistep-default  [id^='edit-payment-information'] legend,
#commerce-checkout-flow-multistep-default  [id^='edit-payment-information-payment-method--wrapper'] legend{
	display: none;	
}
#commerce-checkout-flow-multistep-default  [id^='edit-payment-information']  [id^='edit-contact-information'] legend {
	display: block;	
}
.path-product .commerce-order-item-add-to-cart-form .form-composite legend span.fieldset-legend{
	display: none;
}
.your-package {
    display: block;
    margin: 20px 0 10px 0;
    text-align: center;
    font-size: 26px;
    font-weight: bold;
    color: #0061a9;
}
.product--rendered-attribute__selected ~ label.option {
    border: none;
}

.form-item-lang-dropdown-select {
  display: inline;
}

.lang-dropdown-form img.language-icon {
  padding: 0 4px;
}
.view-commerce-checkout-order-summary .order-total-line .order-total-line-label{
		float: left;
}	
.view-commerce-checkout-order-summary .order-total-line .order-total-line-value{
	float: right;
}
.commerce-checkout-flow .layout-region-checkout-main fieldset {    
    margin-left: 2px;
    margin-right: 2px;
    padding-top: 0.35em;
    padding-bottom: 0.625em;
    padding-left: 0.75em;
    padding-right: 0.75em;
    border: 1px solid #ccc;
	 display: table-cell;
}
.commerce-checkout-flow .layout-region-checkout-main legend {    
    padding: 0 !important;	  
    margin-bottom: 20px !important;
    line-height: inherit !important;	
}
#commerce-checkout-flow-multistep-default .layout-checkout-form legend span{
	border: none !important;
}
/* 
.commerce-checkout-flow .layout-region-checkout-main fieldset#edit-payment-information{
	border: none !important;
}
.commerce-checkout-flow .layout-region-checkout-main fieldset#edit-payment-information legend span, */
 .commerce-checkout-flow .layout-region-checkout-main fieldset#edit-review-contact-information{
	display: none;
 }
 .commerce-checkout-flow [id^="edit-payment-information-payment-method"] .form-item-payment-information-payment-method label.option{
	width: 80% !important;	 
 }
 .view-commerce-cart-form .views-form .views-field-field-discount-1{
	 
	text-align: center;
 }
.lang-dropdown-select-element {
	border: none !important; 
	display: none !important;
	background: #0063aa;
}
.lang-dropdown-select-element option{
	font-size: 0px;
}
.field--type-field-collection table{
	border: none !important;
}
.commerce-checkout-flow .order-total-line__total,
.commerce-checkout-flow .order-total-line__adjustment {
    font-size: 16px;
    color: #282d33;
    padding: 0;
    font-weight: normal;
    border-bottom: 1px solid #e9e9e9;
    padding-bottom: 10px;
    padding-top: 10px;
	display: block;
	overflow: hidden;
}
.commerce-checkout-flow .order-total-line__total .order-total-line-label ,
.order-total-line__adjustment  .order-total-line-label {
    float: left;
    padding-left: 9px;
	font-weight: bold;
}
.commerce-checkout-flow .order-total-line__total .order-total-line-value,
.order-total-line__adjustment .order-total-line-value {
    padding-right: 9px;
	text-align: right;
	font-weight: bold;
}
.commerce-checkout-flow .form-item-payment-information-payment-method label span {
	font-size: 14x;
    font-weight: normal !important ;
    color: #000;
	font-style: italic;
}	
.commerce-checkout-flow   .prefetoonline,
.view-commerce-cart-form .prefetoonline{
	font-size: 14x;
    font-weight: normal !important ;
    color: #000;
	font-style: italic;
	text-align: center;	
}
.page-node-type-webform .messages--error{
	display: none;
}
#simplenews-confirm-add {
	padding: 50px 150px;
	
}
#simplenews-confirm-add #edit-cancel{
	margin-right: 0;
    margin-top: 30px;
    min-width: 118px;
    background-color: #fff;
    border: solid 2px #0063aa;
    outline: none;
	color: #0063aa;
    font-weight: bold;
    border-radius: 4px;
    padding: 13px 20px;	
	
}
#simplenews-confirm-add .button--primary{
	margin-right: 0;
    margin-top: 30px;
    min-width: 118px;
    background-color: #fff;
    border: solid 2px #0063aa;
    outline: none;
	color: #0063aa;
    font-weight: bold;
    border-radius: 4px;
    padding: 14px 20px;	
}
.page-node-91 .cooperation .cooperation-wrapper [data-background],
.page-node-134 .cooperation .cooperation-wrapper [data-background]{
	height: 400px !important;
}
.field--type-address .js-form-item legend{
	border-bottom: 1px solid #ccc;
}
.field--name-field-check-payer .js-form-item {
	margin: 0 !important;
}
.field--type-field-collection .js-form-item{
	margin-top: 0 !important;
}
.field--name-field-check-payer .js-form-item label {
	text-transform: capitalize;
	 padding-left: 30px;
}